.bg-change{
    background-color: rgba(87, 78, 71, 0.836);
}


.footer-container {
    height: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-container p {
    padding: 0;
    margin: 0;
}


/* Footer responsive */
@media only screen and (max-width:576px) {
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}