.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  background-color: rgba(223, 92, 5, 0.836);
  
}
.right-container{
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
